{{!< default}}
<header role='banner' class="site-head_digitus wrapper_digitus">
    {{#if author.image}}
        <div class="logo_digitus" style="background-image: url({{author.image}})"></div>
    {{/if}}
    <h1 class="blogtitle_digitus">
        {{author.name}}
    </h1>
    <p class="blogdescription_digitus">
        {{author.bio}}
    </p>
    {{#if author.location}}
        <h5>{{author.location}}</h5>
    {{/if}}
    {{#if author.website}}
        <h5 class="website_digitus"><a href="{{author.website}}">{{author.website}}</a></h5>
    {{/if}}
    <p class="go-back_digitus"><a class="fa fa-long-arrow-left" href="{{@blog.url}}"><span>Back to front page</span></a></p>
</header>

<main class="wrapper_digitus" role="main">
    
    <h3 class="number-posts_purus">Number of posts&#58;<span>{{pagination.total}}</span></h3>
    
	{{#foreach posts}}
    
		<article class="article_digitus">
            
            <span class="posttitle_digitus">
                <h2 itemprop="headline"><a href="{{{url}}}" rel="bookmark">
				    {{title}}
                    </a>
                </h2>
                <span class="tooltip_digitus">
                    <p><i class="fa fa-calendar"></i>
                    <time>
                        {{date published_at timeago="true"}}
                    </time></p>
                </span>
           </span> 	
		</article>
	
	{{/foreach}}

	{{#if pagination}}
        {{{pagination}}}
	{{/if}}

</main>
{{> footer}}