<!DOCTYPE html>
<html>
<head>

{{! Document Settings }}
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 
{{! Page Meta }}
<title>{{meta_title}}</title>
<link rel="shortcut icon" href="{{asset "/favicon.png"}}">
<meta name="description" content="{{meta_description}}" />
    
{{> custom/meta this}}
	 
{{! Styles }}
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/animation.css"}}" />

{{! Responsive Meta Tags }}
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />     
{{ghost_head}}
    
{{! Google Analytics }}
{{> custom/google_analytics this}}
    
</head>

<body class="{{body_class}}">
 
{{{body}}}
{{ghost_foot}}
    
<script type="text/javascript">
    
    var disqus_shortname = 'example'; // required: replace example with your Disqus shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    
</body>
</html>